#cloud-config
network-interfaces: |
  auto lo
  iface lo inet loopback

  auto eth0
  iface eth0 inet6 static
    address @HENET_IPV6_PREFIX@10
    netmask 64

  iface eth0 inet static
    address 192.168.123.10
    netmask 255.255.255.0

  auto he-ipv6
  iface he-ipv6 inet6 v4tunnel
    address @HENET_IPV6_CLIENT@
    netmask @HENET_IPV6_NETMASK@
    endpoint @HENET_IPV4_CLIENT@
    local 192.168.123.10
    ttl 255
    up ip -6 r d default || true
    post-up ip -6 r a default via @HENET_IPV6_SERVER@ || true

  auto eth1
  iface eth1 inet static
    address 192.168.124.3
    netmask 255.255.255.0
    gateway 192.168.124.1
    dns-nameservers 192.168.123.3 8.8.8.8
    dns-search maas
